extends layout

block content
  br
  .row(style='border-style: solid; padding-top:12px;')
    img#myimg(shortcode=img_shortcode src='http://crystal.kaist.ac.kr'+img_url, style='margin-bottom:5px;').col-md-6
    textarea.col-md-6(readonly style='overflow-y:scroll; height:217px;')=img_caption
  br
  div
    each val, index in JSON.parse(atus)
      button.btn.btn-sm.btn-outline-secondary(code=val.code)='[' + val.code + '] ' + val.category

    //a.btn.btn-sm.btn-outline-info(href='/idonno')=idonno
  br
  a.btn.btn-warning(href=atus_manual.url)=atus_manual.text
  a.btn.btn-success(href='/history') History
  a.btn.btn-primary(href='/allhistory') AllHistory
  a.btn.btn-info(href=atus_language.url)=atus_language.text
  a.btn.btn-danger#logout_btn Logout
  script
    |  $(function(){
    |    $('button').on('click', function(){
    |      //if (confirm($(this).text())){
    |        $.post('/tagging', 
    |          {'shortcode': $('#myimg').attr('shortcode'),
    |           'category': $(this).attr('code')},
    |          function(data) {
    |            location.reload();
    |          });
    |      //}
    |    });
    |    $('#logout_btn').on('click', function(){
    |      if (confirm("Logout?")){
    |         $.post('/users/logout', function(data){
    |            window.location.href='/';
    |         });
    |      }
    |    })
    |  });